./search/node_modules
./product/node_modules
./container/node_modules
./header/node_modules
./cart/node_modules



./search/build
./product/build
./container/build
./header/build
./cart/build

./search/coverage
./product/coverage
./container/coverage
./header/coverage
./cart/coverage

./search/coverage
./product/coverage
./container/coverage
./header/coverage
./cart/coverage

./search/DS_Store
./product/DS_Store
./container/DS_Store
./header/DS_Store
./cart/DS_Store

./search/npm-debug.log*
./product/npm-debug.log*
./container/npm-debug.log*
./header/npm-debug.log*
./cart/npm-debug.log*

./search/yarn-debug.log*
./product/yarn-debug.log*
./container/yarn-debug.log*
./header/yarn-debug.log*
./cart/yarn-debug.log*


./search/yarn-error.log*
./product/yarn-error.log*
./container/yarn-error.log*
./header/yarn-error.log*
./cart/yarn-error.log*


